<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Work Schedule Management</title>
</head>
<body>
<h1>Work Schedule Management</h1>

<form th:action="@{/workSchedules}" th:object="${workSchedule}" method="post">
  <input type="hidden" th:field="*{scheduleId}"/>
  <label for="shiftId">Shift ID:</label>
  <select id="shiftId" name="shiftId" th:field="*{shift.shiftId}" required>
    <option th:each="shift : ${shifts}"
            th:value="${shift.shiftId}"
            th:text="${shift.shiftName}">Shift ID</option>
  </select><br/>

  <label for="accountID">Account ID:</label>
  <input type="number" id="accountID" th:field="*{account.accountID}" required/><br/>

  <label for="date">Date:</label>
  <input type="date" id="date" th:field="*{date}" required/><br/>

  <label for="requestDate">Request Date:</label>
  <input type="date" id="requestDate" th:field="*{requestDate}" required/><br/>

  <label for="status">Status:</label>
  <select id="status" name="status" th:field="*{status}" required>
    <option th:each="status : ${T(com.timekeeping.timekeeping.enums.ApprovalStatus).values()}"
            th:value="${status}"
            th:text="${status.displayName}">Status</option>
  </select><br/>

  <button type="submit">Save</button>
</form>

<h2>Search WorkSchedules</h2>
<form th:action="@{/workSchedules/find}" method="get">
  <label for="workScheduleSearch">Name:</label>
  <input type="text" id="workScheduleSearch" name=""/>
  <button type="submit">Search</button>
</form>

<h2>All Work Schedules</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Shift ID</th>
    <th>Account ID</th>
    <th>Date</th>
    <th>Request Date</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <tr th:each="schedule : ${workSchedules}">
    <td th:text="${schedule.scheduleId}"></td>
    <td th:text="${schedule.shift.shiftId}"></td>
    <td th:text="${schedule.account != null ? schedule.account.accountID : 'No Account ID'}"></td>
    <td th:text="${schedule.date}"></td>
    <td th:text="${schedule.requestDate}"></td>
    <td th:text="${schedule.status.displayName}"></td>
    <td>
      <a th:href="@{/workSchedules/edit/{id}(id=${schedule.scheduleId})}">Edit</a>
      <a th:href="@{/workSchedules/delete/{id}(id=${schedule.scheduleId})}">Delete</a>
    </td>
  </tr>
</table>
</body>
</html>
